<div class="chart-header">
  <h5>Auction</h5>
  <button class="chart-header-btn" [matMenuTriggerFor]="menu">
    <i class="material-icons">more_horiz</i>
    <mat-menu #menu="matMenu">
      <button (click)="emitRemoveChart()" mat-menu-item>Remove</button>
    </mat-menu>
  </button>
</div>
<canvas baseChart
        [datasets]="lineChartData"
        [labels]="lineChartLabels"
        [options]="lineChartOptions"
        [colors]="lineChartColors"
        [legend]="lineChartLegend"
        [chartType]="lineChartType"></canvas>
