<div class="chart-header">
  <h5>Devices</h5>
  <button class="chart-header-btn" [matMenuTriggerFor]="menu">
    <i class="material-icons">more_horiz</i>
    <mat-menu #menu="matMenu">
      <button (click)="emitRemoveChart()" mat-menu-item>Remove</button>
    </mat-menu>
  </button>
</div>
<canvas baseChart
        [data]="doughnutChartData"
        [labels]="doughnutChartLabels"
        [chartType]="doughnutChartType"
        [options]="doughnutChartOptions"></canvas>
<div class="overall-text-container">
  <p class="text-primary">{{ overallDevices }}</p>
  <p class="text-secondary">Total Users</p>
</div>
