/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import './assets/style/app-variables';

* {
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0px;
  padding: 0px;
  height: 100%;
}

p {
  margin: 0;
}

.head-logo {
  line-height: 36px;
  text-decoration: none;
  font-size: 20px;
}

.btn-primary {
  background-color: #01bcd5;
  color: #fff !important;
  text-transform: uppercase;
}

.block-relative {
  position: relative;
}

.combo-box-container {
  margin: $app-spacing-default;
  max-width: 1080px;
}

.charts-outer-container {
  margin: $app-spacing-default;
  width: auto !important;
}

.overall-text-container {
  position: absolute;
  line-height: 1;
  top: calc(50% - 0px);
  left: calc(50% - 41px);
  display: none;
}

.text-primary {
  font-size: 48px;
  font-weight: bold;
}

.text-secondary {
  color: rgba(0,0,0,.54)
}

.charts-outer-container > * {
  position: relative;
  box-sizing: border-box;
  border: $app-spacing-default solid transparent;
  border-bottom-width: ($app-spacing-default*2);
}

.charts-outer-container canvas {
  position: relative;
  top: -24px;
  padding-top: 36px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
}

.chart-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.05);
  height: 24px;
  width: 100%;
  box-sizing: border-box;
}

.chart-header-btn {
  background-color: transparent;
  line-height: 0;
  padding: 0;
  margin: 0;
  border: 0;
  position: relative;
  z-index: 1000;
  cursor: pointer;
}

